/* Original CSS styles */
.carousel-item img {
  height: 250px;
  border-radius: 10px; /* Add rounded corners to carousel images */
}

.lair-title {
  font-weight: bold;
  color: white; /* Set text color to white */
  font-size: 20px;
}

.lair-price {
  font-weight: bold;
  color: white; /* Use white color for prices */
}

.btn-custom {
  background-color: white; /* Use white background color for buttons */
  color: black; /* Set text color to black */
  border-color: #ff385c;
  border-radius: 20px; /* Add rounded corners to buttons */
}

.btn-custom:hover {
  background-color: #ff0b5b; /* Darken the button color on hover */
  border-color: #ff0b5b;
}

.btn-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.card {
  margin-bottom: 20px;
  box-shadow: none;
  border: none; /* Remove card border */
  border-radius: 20px; /* Add rounded corners to cards */
  background-color: white; /* White background for cards */
  color: white; /* Set text color to white */
}

.card-body {
  background-color: #325152; /* Match the background color of the page */
  border: none; /* Remove card border */
  color: white; /* Set text color to white */
}

.card-text .star {
  color: white; /* Set text color to white */
}

.title-container {
  display: flex;
  align-items: center;
}

.card-title {
  flex: 1;
  font-size: 16px; /* Adjust the font size as needed */
  color: white; /* Set text color to white */
}

.star {
  color: white; /* Set the color of the star symbol to white */
  font-size: 15px; /* Adjust the font size as needed */
}

/* Adjust map width */
#map-container {
  width: 80%;
  margin: auto;
}

/* Additional CSS styles for header icons */
.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow icons to wrap to the next line if needed */
  gap: 20px; /* Add space between icons */
}

.icon {
  text-align: center; /* Center icon and description */
}

.icon i {
  font-size: 2em; /* Adjust icon size as needed */
}

.icon p {
  margin-top: 5px; /* Add some space between icon and description */
  font-size: 14px; /* Adjust description font size */
  color: white; /* Set text color to white */
}

.search-container {
  display: flex;
  justify-content: center; /* Center the form horizontally */
  margin-top: 20px; /* Add some top margin */
}

.search-form {
  display: flex;
  align-items: center;
  width: 70%; /* Set the width of the form */
  max-width: 600px; /* Set a maximum width if needed */
}

.search-input {
  flex: 1; /* Let the input grow to fill available space */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #9ae0e7;
  padding: 10px 15px; /* Increase padding */
}

.search-button {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #6aaeac;
  background-color: #507a72;
  color: #7b9c96;
  padding: 10px 15px; /* Increase padding */
  cursor: pointer;
}
