/* Original CSS styles */
.carousel-item img {
  height: 500px;
  border-radius: 10px; /* Add rounded corners to carousel images */
}

.lair-title {
  font-weight: bold;
  color: #333;
  font-size: 20px;
}

.lair-price {
  font-weight: bold;
  color: black; /* Use Airbnb's brand color for prices */
}

.btn-custom {
  background-color: black; /* Use Airbnb's brand color for buttons */
  color: white;
  border-color: #ff385c;
  border-radius: 20px; /* Add rounded corners to buttons */
}

.btn-custom:hover {
  background-color: #ff0b5b; /* Darken the button color on hover */
  border-color: #ff0b5b;
}

.btn-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.card {
  margin-bottom: 20px;
  box-shadow: none;
  border: none; /* Remove card border */
  border-radius: 20px; /* Add rounded corners to cards */
  background-color: white; /* White background for cards */
}

.card-body {
  background-color: white; /* Match the background color of the page */
  border: none; /* Remove card border */
}

.card-text .star {
  color: black;
}

.title-container {
  display: flex;
  align-items: center;
}

.card-title {
  flex: 1;
  font-size: 16px; /* Adjust the font size as needed */
}

.star {
  color: black; /* Set the color of the star symbol to white */
  font-size: 15px; /* Adjust the font size as needed */
}

/* Adjust map width */
#map-container {
  width: 80%;
  margin: auto;
}

/* Additional CSS styles for header icons */
.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow icons to wrap to the next line if needed */
  gap: 20px; /* Add space between icons */
}

.icon {
  text-align: center; /* Center icon and description */
}

.icon i {
  font-size: 2em; /* Adjust icon size as needed */
}

.icon p {
  margin-top: 5px; /* Add some space between icon and description */
  font-size: 14px; /* Adjust description font size */
}
