.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  height: 80px;
}

/* Subtle line */
.subtle-line {
  height: 1px; /* Set the height of the line */
  background-color: #ccc; /* Set the color of the line */
  width: 90%; /* Set the width of the line */
  margin: 0 auto; /* Center the line horizontally */
  margin-bottom: 20px; /* Adjust spacing */
}

/* Header Icons */
.header-icons {
  text-align: center;
  margin-bottom: 20px; /* Adjust spacing */
}

.header-icons i {
  font-size: 24px; /* Adjust the size of the icons */
  color: black; /* Set the default color of the icons to black */
  margin: 0 10px; /* Adjust spacing between icons */
}

.header-icons i:hover {
  color: #666; /* Set the color of the icons to a lighter shade on hover */
}
