main {
  padding: 20px;
}

.btn-dark {
  color: rgb(226, 227, 229);
}

.card {
  border-radius: 15px;
  border: 1px solid grey;
}

.card-link {
  text-decoration: none;
}

.card-link:hover .card {
  transform: scale(1.03);
  transition: transform 0.2s ease-in-out;
}

// .card-container {
//   width: 100%;
// }
// media (min-width: 576px) {
//   .card-container {
//     width: 48%;
//   }
// }
// media (min-width: 768px) {
//   .card-container {
//     width: 31%;
//   }
// }
// media (min-width: 992px) {
//   .card-container {
//     width: 23%;
//   }
// }
// media (min-width: 1200px) {
//   .card-container {
//     width: 18%;
//   }
// }
